*{
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    margin-top: 4rem;
}
.logo, .name, .nav{
    justify-content: center;
    display: flex;
}
.ul{
    justify-content: space-between;
    display: flex;
}
.li{
    width: 5rem;
    list-style-type: none;
}
.li a{
    text-decoration: none; 
    color: #243C98;
}