*{
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}
body, html{
    margin: 0;
    padding: 0;
}
.Date{
    background-color: #00558C;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.MainHeader{
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 8rem;
    box-sizing: border-box;
    border-bottom: 1px solid #818181;
}
.MenuSection{
    position: absolute;
    top: 30px;
    align-items: center;
    margin-left: 2rem;
}
.MenuBtn{
    background: none;
    border: none;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}
.ImgBtn{
    width: 2rem;
    height: 2rem;
}
.P1{
    position: absolute;
    top: 0px;
    margin-left: 5rem;
}
.P2{
    position: absolute;
    top: 0px;
    margin-left: 12rem;

}
.P3{
    position: absolute;
    top: 0px;
    margin-left: 20rem;
}
.Bar1{
    position: absolute;
    top: 0px;
    margin-left: 11.1rem;
}
.Bar2{
    position: absolute;
    top: 0px;
    margin-left: 18.8rem;
}
.LogoLinkHeader{
    left: 32rem;
    top: 2.3rem;
    position: relative;
    align-content: center;
}
.LogIn{
    bottom: 15px;
    position: relative;
    left: 82rem;
    align-content: center;
}
.LogInBtn{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 36px;
    min-width: 130px;
    background: #fff;
    border: 1px solid #fbbc04;
    border-radius: 50px;
    margin-right: 2rem;
    justify-content: space-around;
}
.ImgLogIn{
    display: none;
}
.ContainerHeader{
    margin-top: -15px;
    background-color: #DFDFDF;
    width: 100%;
}
.MainContainer{
    position: relative;
    margin-left: 6rem;
    align-items: center;
}
.ContainerTitle{
    position: absolute;
    top: 1rem;
    color: #00558c;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}
.SubContainer1, .SubContainer2{
    top: 1rem;
    position: relative; 
    left: 4.5rem;
    margin-left: 1rem;
}
.Paragraph1{
    color: gray;
    font-weight: 300;
}
.Paragraph2{
    position: relative;
    bottom: 35px;
    left: 25rem;
    color: gray;
    font-weight: 300;
}
.StrongTitle{
    color: #00558c;
    font-weight: 600;
}
.SectionPrimary{
    position: relative;
    margin-top: -16px;
    width: 100%;
    height: 47rem;
    background: #f8f8f8;
    padding: 1rem 3rem 3rem 4rem;
}
.ArticlePrimaryNote{
    position: absolute;
    display:inline;
    width: 53rem;
}
.ImgNote{
    margin-top: 1rem;
}
.ArticleSecondaryNote{
    position: absolute;
    left: 60rem;
    top: 2.5rem;
    width: 300px;
}
.ArticleThirdNote{
    position: absolute;
    left: 60rem;
    top: 20.5rem;
    width: 300px;
}
.SecondaryNoteH3{
    margin-top: 5px;
    font-weight: 500;
}
.Footer{
    position: relative;
    top: 2rem
}
.LogoFooter{
    position: relative;
    left: 38rem;
}
.Section{
    position: relative;
    left: 6rem;
    border-bottom: 1px solid #818181;
    height: 20rem;
    width: 80%;
}
.SectionSpan{
    position: relative;
    left: 20rem;
    top: 2rem;
}
.Section1{
    position: relative;
    top: 2rem;
    left: 17.5rem;
}
.SectionLi{
    margin-bottom: 1rem;
}
.Section1 .Section a {
    text-decoration: none; 
    color: inherit;
}

.Section1 .Section {
    list-style-type: none;
}

.Section1 .Section a:visited {
    border-bottom: none;
}
.Section2{
    position: relative;
    bottom: 13rem;
    left: 35rem;
}
.Section2 .Section a {
    text-decoration: none; 
    color: inherit;
}

.Section2 .Section {
    list-style-type: none;
}

.Section2 .Section a:visited {
    border-bottom: none;
}
.Section3{
    position: relative;
    bottom: 28rem;
    left: 52.5rem;
}
.Section3 .Section a {
    text-decoration: none; 
    color: inherit;
}

.Section3 .Section {
    list-style-type: none;
}

.Section3 .Section a:visited {
    border-bottom: none;
}
.Form{
    position: relative;
    top: 3rem;
    left: 6rem;
}

@media screen and (max-width: 991px) {
    .LogInBtn, .P1, .P2, .P3, .Bar1, .Bar2, .Date, .SubContainer2{
        display: none;
    }
    .Header{
        height: 4.5rem;
    }
    .MenuSection{
        top: 0.8rem;
    }
    .LogoLinkHeader{
        top: 1rem;
        left: 15rem;
    }
    .LogIn{
        bottom: 2rem;
        left: 55rem;
    }
    .ImgLogIn{
        display: block;
        right: 10rem;
    }
    .ContainerHeader {
        margin-top: -12px;
        height: 4rem;
        background-color: #DFDFDF;
        width: 100%;
    }
    .MainHeader {
        position: relative;
        vertical-align: middle;
        width: 100%;
        height: 4.7rem;
        box-sizing: border-box;
        border-bottom: 1px solid #818181;
    }
    .ContainerTitle{
        left: 10rem;
    }
    .SubContainer1{
        left: 14.6rem;
    }
    .SectionPrimary{
        height: 90rem;
    }
    .ArticlePrimaryNote{
        width: 600px;
        left: 10rem;
    }
    .ImgNote{
        width: 600px;
        height: 300px;
    }
    .ArticleSecondaryNote{
        width: 600px;
        left: 10rem;
        top: 40rem;
    }
    .SecondaryNoteH3{
        font-weight: bold;
        position: relative;
        bottom: 23rem;
    }
    .ImgNote2, .ImgNote3{
        width: 600px;
        height: 300px;
    }
    .ArticleThirdNote{
        position: absolute;
        left: 10rem;
        top: 64.2rem;
        width: 300px;    
    }
    .ImgNote3{
        position: relative;
        top: 3rem;
    }
    .LogoFooter{
        position: relative;
        left: 22rem;
    }
    .Section {
        position: relative;
        left: -6rem !important;
        border-bottom: 1px solid #818181;
        height: 20rem;
        width: 110%;
    }
}


@media screen and (max-width: 480px) {
    .LogInBtn, .P1, .P2, .P3, .Bar1, .Bar2, .Date, .SubContainer2, .SectionUl{
        display: none;
    }
    .Header{
        height: 4.5rem;
    }
    .MenuSection{
        top: 0.8rem;
    }
    .LogoLinkHeader{
        top: 1rem;
        left: 6rem;
    }
    .LogIn{
        bottom: 2rem;
        left: 40rem;
    }
    .ImgLogIn{
        display: block;
        right: 10rem;
    }
    main{
        width: 150%;
    }
    .ContainerHeader {
        margin-top: -12px;
        height: 4rem;
        background-color: #DFDFDF;
        width: 100%;
    }
    .MainHeader {
        position: relative;
        vertical-align: middle;
        width: 100%;
        height: 4.7rem;
        box-sizing: border-box;
        border-bottom: 1px solid #818181;
    }
    .ContainerTitle{
        left: 1rem;
    }
    .SubContainer1{
        left: 6rem;
    }
    .SectionPrimary{
        height: 90rem;
    }
    .ArticlePrimaryNote{
        width: 600px;
        left: 4rem;
    }
    .ImgNote{
        width: 600px;
        height: 300px;
    }
    .ArticleSecondaryNote{
        width: 600px;
        left: 4rem;
        top: 40rem;
    }
    .SecondaryNoteH3{
        font-weight: bold;
        position: relative;
        bottom: 23rem;
    }
    .ImgNote2, .ImgNote3{
        width: 600px;
        height: 300px;
    }
    .ArticleThirdNote{
        position: absolute;
        left: 4rem;
        top: 64.2rem;
        width: 300px;    
    }
    .ImgNote3{
        position: relative;
        top: 3rem;
    }
    .LogoFooter{
        position: relative;
        left: 15rem;
    }
    .Section {
        position: relative;
        left: -6rem !important;
        border-bottom: 1px solid #818181;
        height: 20rem;
        width: 110%;
    }
}
